[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=DBusViewerSharp
Exec=dbusviewersharp
Terminal=false
Categories=Development;
GenericName=DBusViewerSharp
Comment=A tool to visualize the exposed API of DBus services
Icon=dbusviewersharp
