[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=D-Bus Explorer
Exec=dbus-explorer
Terminal=false
Categories=Development;
GenericName=D-Bus Explorer
Comment=A tool to visualize the API of DBus services
Icon=dbus-explorer
